#slider-container {
  margin-top: 10vh;
  overflow: hidden;
  max-width: 100%; 
  padding: 0 30px;
  
}


.box {
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  background: #000;
  text-align: center;
  padding: 10px;
}

.box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

h3, p {
  margin: 5px 0;
}

.leaders p{
  text-transform: uppercase;
}



/* .slide-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  z-index: 100;
  border-radius: 50%;
  width: 500px;
  height: 500px;
}

.slide-button:first-of-type {
  left: 10px;
}

.slide-button:last-of-type {
  right: 10px;
}



.custom-arrow {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
 */


@media (max-width: 768px) {

  .custom-arrow{
    height: 50px;
  }
  
  
  .slick-prev, .slick-next {
    display: none;
  }

  h3, p {
    margin: 10px 0;
    font-size: 12px;
  }

  p{
    font-size: 10px;
  }
}

   