.right-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ac7ead;
    color: black;
    padding: 10px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 30px;
    font-weight: 900;
}

.left-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ac7ead;
    color: black;
    padding: 10px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 30px;
    font-weight: 900;
}
  
  .pics-arrow:hover {
    background: #826183; 
  }

  @media (max-width: 600px) {
    .pics-arrow {
      height: 30px; 
      width: 30px;   
      font-size: 13px; 
      top: calc(50% - 10px);
    }

    .left-arrow{
        left: -10px;
    }

    .right-arrow{
        right: -10px;
    }
  }